$main: #ae123a;
$second-1: #e1bb00;
$second-2: #01ab5d;
$second-3: #f97d94;
$second-4: #ff6b6b;
$second-5: #54a0ff;
$dark-text: #1b1d1f;
$dark-text-2: #666;
$light-text: #a9a8a8;
$icon-grey: #adaeae;
$light-back: #f7f8f9;

.light-text {
  color: $icon-grey !important;
}

.main-text {
  color: $main !important;
}
