.landing {
  background-color: #fff;
  padding-top: 5rem;
  // color: #333;
  &-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1000px) {
      margin-top: 2rem;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
      margin-top: 0rem;
    }
    &--left {
      width: 45%;
      @media screen and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (max-width: 700px) {
        width: 70%;
        margin: 3rem 0;
        text-align: center;
      }
      @media screen and (max-width: 600px) {
        width: 80%;
      }

      &-title {
        font-size: 3.3rem;
        font-weight: lighter;
        margin-bottom: 1.5rem;
        @media screen and (max-width: 1000px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 700px) {
          font-size: 2.4rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 2.1rem;
          margin-bottom: 1.5rem;
        }
      }
      &-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        line-height: 2.3rem;
        // text-align: justify;
        font-weight: normal;
        @media screen and (max-width: 1000px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.2rem;
        }
      }
      & a {
        color: #fff !important;
        background-color: #ae123a !important;
      }
      & button {
        @media screen and (max-width: 1000px) {
          font-size: 1.5rem;
        }
      }
    }
    &--right {
      width: 55%;
      text-align: center;
      & img {
        width: 70%;
      }
      @media screen and (max-width: 1000px) {
        width: 50%;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
      }
      @media screen and (max-width: 500px) {
        width: 85%;
      }
    }
  }
}
