@import "../variables";

.navbar-container {
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 10;
  padding: 1.7rem 1.3rem;
  color: #fff;
  right: 0;
  left: 0;
}

.navbar {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  color: $dark-text;

  & a {
    color: $dark-text;
  }
  & a:hover {
    color: $main;
  }

  &-left {
    & i {
      color: $main;
    }
    & a {
      margin-right: 1rem;
      // color: $main !important;
      font-size: 1.4rem;
      letter-spacing: 1px;
      & span {
        background-color: $main;
        color: #fff;
        padding: 0.2rem 0.4rem;
        border-radius: 6px;
        border-top-left-radius: 0;
        margin-left: 0.3rem;
      }
      &:hover {
        color: #555;
      }
    }
  }

  &-middle {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &-right {
    font-size: 1rem;
    & a {
      margin-left: 1rem;
    }
  }
}
